@page "/addappointment/{petId:guid}/{cabinetId:guid}"
@inject HttpClient Http
@inject DialogService DialogService
@inject NavigationManager NavigationManager
<link href="css/appointment.css" rel="stylesheet" />
@page "/data"
@using MyVetAppoinment.Shared.Domain;

<RadzenTemplateForm TItem="Appointment" Data="@model" Submit=@OnSubmit>

    <div class="antet">
       <strong> PROGRAM:
        <br>
        Luni: 09:00-16:00 <br>
        Marti: 09:00-16:00 <br>
        Miercuri: 09:00-16:00 <br>
        Joi: 09:00-16:00 <br>
        Vineri: 09:00-16:00 <br>
        Sambata,Duminica: inchis <br>
        <br>
        </strong>
    </div>
    <div class="container">
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Alegeti data si ora:" />
        </div>
        <div class="col">


            <RadzenDatePicker Min="DateTime.Today" YearRange="2023:2024" @bind-Value="@model.StartTime" Name="Start" ShowTime="true" MinutesStep="30" />

            <RadzenRequiredValidator Text="Start is required" Component="Start" />
        </div>
    </div>

    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Decriere" />
        </div>
        <div class="col">
            <RadzenTextBox @bind-Value="@model.Description" Name="Description" />
            <RadzenRequiredValidator Text="Description is required" Component="Description" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            @if (error != null)
            {
                <div> @error</div>
            }

        </div>
    </div>
    </div>

</RadzenTemplateForm>
