@page "/cabinet/delete/{cabinetId:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h2>Delete User</h2>
<br />


<div class="form-group">
    <h4>Do you want to delete this cabinet?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@cabinet.Name</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@cabinet.Address</td>
            </tr>
           
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" @onclick="(async () => await RemoveCabinet(cabinet.Id))" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>
