@page "/"

<PageTitle>Index</PageTitle>
<<<<<<< Updated upstream
=======
<link href="css/index.css" rel="stylesheet" />
<h1>Home Page</h1>


>>>>>>> Stashed changes

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
