@page "/"
@using MyVetAppoinment.Shared.Domain
@inject HttpClient Http
<PageTitle>Index</PageTitle>
<link href="css/index.css" rel="stylesheet" />
<h1>MyVetAppointment Data</h1>
<p>Blazor CRUD operation</p>





