@page "/seedrugs/{cabinetId:guid}"
<link href="css/client.css" rel="stylesheet" />
<h2>Drugs</h2>
<div class="cont">
    
     
    <div class="row">
        @if (Drugs == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="container">
                <div class="row1" id="head">
                    <div class="col">Drug Name</div>
                    <div class="col">Drug Description</div>
                    <div class="col">Drug Price</div>
                    <div class="col">Availability</div>
                </div>
                <div class="row1">
                    @foreach (var drug in Drugs)
                    {
                        <div class="col">@drug.DrugName</div>
                        <div class="col">@drug.DrugDescription</div>
                        <div class="col">@drug.Price</div>
                        @if (@drug.Stock == 0)
                        {
                            <div class="col">it is no longer in stock</div>
                        }
                        else
                        {
                            <div class="col">In stock</div>
                        }



                }
                </div>
            </div>

            

        }

    </div>
</div>

