@page "/shopsoverview"
@inject HttpClient Http

<h2>Shops Overview</h2>
@if (Shops == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel class="table table-light">
        <thead class="table-primary">
        <th>Shop Name</th>
        <th>Cabinet Name</th>
        
        <th>Edit/Delete</th>
        
       
        </thead>
        <tbody>
            @foreach (var shop in Shops)
            {
                <tr>
                    <td>@shop.ShopName</td>
                    @foreach (var cab in Cabinets)
                    {
                        @if (cab.Id.Equals(shop.CabinetId))
                        {
                            <td>@cab.Name</td>
                        }
                    }

                    <td>
                        <a href='/shop/edit/@shop.ShopId' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/shop/delete/@shop.ShopId' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </tabel>
}
@code{
  
}
